# 1. Pandas

## 1.1 Basic

In [2]:
import pandas as pd
import numpy as np

In [ ]:
# name은 해당 series의 이름이며, dataFrame의 column과 같다
pandas_series = pd.Series(data=[1,2,3,4,5,6,7], index = ['a','b','c','d','e','f','g'], name= 'pandas_series')
# dataFrame의 dictionary처럼 생성하며, key가 column이 되며, value는 해당 column의 data가 된다. 누락 된 값은 결측치(NaN)이 된다
pandas_df = pd.DataFrame({"data":[1,2,3,4,5,6,7], "index":['a','b','c','d','e','f','g']})
print(pandas_series)
print(pandas_df)

In [ ]:
# dataFrame의 column선택은 series다
pandas_df['data']

### 1.1.1 Adding data

In [ ]:
# Row adding
pandas_addDf = pd.DataFrame({"data":[1,2,3,4,5,6,7], "index":['a','b','c','d','e','f','g']})
pandas_df.append(pandas_addDf)

In [54]:
# column adding
pandas_df['added'] = [1,2,3,4,5,6,7]
pandas_df

   data index  added
0     1     a      1
1     2     b      2
2     3     c      3
3     4     d      4
4     5     e      5
5     6     f      6
6     7     g      7

In [57]:
# column adding by series, 결측치는 NaN이 된다.
temp_series = pd.Series(data = [1,2,3], index = [0,1,2], name = 'series_add')
pandas_df[temp_series.name] = temp_series
pandas_df

   data index  added  series_add
0     1     a      1         1.0
1     2     b      2         2.0
2     3     c      3         3.0
3     4     d      4         NaN
4     5     e      5         NaN
5     6     f      6         NaN
6     7     g      7         NaN

## 1.2 Multi Index

In [ ]:
data = { 'state':['ohio', 'ohio', 'ohio', 'nevada', 'nevada'], \
        'year'  :[2000,2001, 2002, 2001, 2002],                \
        'pop'   : [1.5, 1.7, 3.6, 2.4, 2.9] }
f = pd.DataFrame(data = data,index=('a','b','c','d','e'))        
f

In [ ]:
f.loc[(f['state'] == 'ohio') & (f['pop'] == 1.5),'year']

## 1.3 Groupby

In [6]:
df = pd.DataFrame({'key1' : ['a','a','b','b','a'],
                 'key2' : ['one','two','one','two','one'],
                 'data1' : np.random.randn(5),
                 'data2' : np.random.randn(5)})

In [20]:
grouped = df.groupby(['key1'])['data1']

grouped.mean()

key1
a   -0.549100
b    0.502941
Name: data1, dtype: float64

In [19]:
grouped = df['data1'].groupby(df['key1'])

grouped.mean()

key1
a   -0.549100
b    0.502941
Name: data1, dtype: float64

In [26]:
means = df['data1'].groupby([df['key1'], df['key2']]).mean()
means

key1  key2
a     one    -0.490932
      two    -0.665435
b     one     0.299103
      two     0.706778
Name: data1, dtype: float64

In [29]:
df.groupby(['key1','key2']).data1.mean()

key1  key2
a     one    -0.490932
      two    -0.665435
b     one     0.299103
      two     0.706778
Name: data1, dtype: float64

In [30]:
df.groupby(['key1','key2']).data1.mean().unstack()

key2       one       two
key1
a    -0.490932 -0.665435
b     0.299103  0.706778