In [176]:
import pandas as pd

In [177]:
!ls

ExcelCalculate calculate      db.sqlite3     manage.py
Untitled.ipynb data.xlsx      main           sendEmail

In [178]:
df = pd.read_excel("data.xlsx")

In [145]:
df.head()

,grade,name,email,value,domain,addr
0,1,Belle Hunter,Donec@luctusfelispurus.net,84,"[Donec, luctusfelispurus.net]",luctusfelispurus.net
1,4,Hadley York,ipsum.non@tempusnonlacinia.net,97,"[ipsum.non, tempusnonlacinia.net]",tempusnonlacinia.net
2,5,Maryam Graves,ut.pellentesque.eget@duinec.org,3,"[ut.pellentesque.eget, duinec.org]",duinec.org
3,4,Armando Nguyen,Nunc.ullamcorper.velit@posuerecubilia.ca,25,"[Nunc.ullamcorper.velit, posuerecubilia.ca]",posuerecubilia.ca
4,5,Dean House,cursus.et.eros@ametluctusvulputate.org,1,"[cursus.et.eros, ametluctusvulputate.org]",ametluctusvulputate.org

In [146]:
df.groupby('grade').value.min()

grade
1    4
2    3
3    0
4    1
5    1
Name: value, dtype: int64

In [156]:
grade_dic = dict()
total_row_num = len(df.index)

for i in range(len(df.index)):

    data =df.loc[i]
    if not data['grade'] in grade_dic.keys():
        grade_dic[data['grade']] = list([data['value']])
    else:
        pass
        grade_dic[data['grade']].append(data['value'])
        
grade_calculate_dic = {}
for key in grade_dic.keys():
    grade_calculate_dic[key] = {}
    grade_calculate_dic[key]['min'] = min(grade_dic[key])
    grade_calculate_dic[key]['max'] = max(grade_dic[key])
    grade_calculate_dic[key]['avg'] = float(sum(grade_dic[key]))/len(grade_dic[key])
    
grade_list = list(grade_calculate_dic.keys())
grade_list.sort()
for key in grade_list:
    print(grade_calculate_dic[key])

{'min': 4, 'max': 100, 'avg': 55.38461538461539}
{'min': 3, 'max': 95, 'avg': 51.421052631578945}
{'min': 0, 'max': 91, 'avg': 39.458333333333336}
{'min': 1, 'max': 97, 'avg': 43.85}
{'min': 1, 'max': 99, 'avg': 48.375}

In [179]:
df.head()

   grade            name                                     email  value
0      1    Belle Hunter                Donec@luctusfelispurus.net     84
1      4     Hadley York            ipsum.non@tempusnonlacinia.net     97
2      5   Maryam Graves           ut.pellentesque.eget@duinec.org      3
3      4  Armando Nguyen  Nunc.ullamcorper.velit@posuerecubilia.ca     25
4      5      Dean House    cursus.et.eros@ametluctusvulputate.org      1

In [208]:
df['domain'] = df['email'].str.split('@')

ValueError: Length of values does not match length of index

In [197]:
df.head()

,grade,name,email,value,domain
0,1,Belle Hunter,Donec@luctusfelispurus.net,84,"[Donec, luctusfelispurus.net]"
1,4,Hadley York,ipsum.non@tempusnonlacinia.net,97,"[ipsum.non, tempusnonlacinia.net]"
2,5,Maryam Graves,ut.pellentesque.eget@duinec.org,3,"[ut.pellentesque.eget, duinec.org]"
3,4,Armando Nguyen,Nunc.ullamcorper.velit@posuerecubilia.ca,25,"[Nunc.ullamcorper.velit, posuerecubilia.ca]"
4,5,Dean House,cursus.et.eros@ametluctusvulputate.org,1,"[cursus.et.eros, ametluctusvulputate.org]"

In [ ]:
for i in range(len(df.index)):
    tlst = df.loc[i, ['domain']]
    print(type(tlst))

In [205]:
df.loc[1, ['domain']]

domain    [ipsum.non, tempusnonlacinia.net]
Name: 1, dtype: object

In [96]:
df['domain'] = df['email'].str.split('@').tolist()
df['addr'] = [i[1] for i in df['domain']]

df.groupby('addr').count().sort_values('grade')

In [107]:
df.head()

,grade,name,email,value,domain,addr
0,1,Belle Hunter,Donec@luctusfelispurus.net,84,"[Donec, luctusfelispurus.net]",luctusfelispurus.net
1,4,Hadley York,ipsum.non@tempusnonlacinia.net,97,"[ipsum.non, tempusnonlacinia.net]",tempusnonlacinia.net
2,5,Maryam Graves,ut.pellentesque.eget@duinec.org,3,"[ut.pellentesque.eget, duinec.org]",duinec.org
3,4,Armando Nguyen,Nunc.ullamcorper.velit@posuerecubilia.ca,25,"[Nunc.ullamcorper.velit, posuerecubilia.ca]",posuerecubilia.ca
4,5,Dean House,cursus.et.eros@ametluctusvulputate.org,1,"[cursus.et.eros, ametluctusvulputate.org]",ametluctusvulputate.org

In [102]:
grade_dic = {}

,grade,name,email,value,domain,addr
0,1,Belle Hunter,Donec@luctusfelispurus.net,84,"[Donec, luctusfelispurus.net]",luctusfelispurus.net
1,4,Hadley York,ipsum.non@tempusnonlacinia.net,97,"[ipsum.non, tempusnonlacinia.net]",tempusnonlacinia.net
2,5,Maryam Graves,ut.pellentesque.eget@duinec.org,3,"[ut.pellentesque.eget, duinec.org]",duinec.org
3,4,Armando Nguyen,Nunc.ullamcorper.velit@posuerecubilia.ca,25,"[Nunc.ullamcorper.velit, posuerecubilia.ca]",posuerecubilia.ca
4,5,Dean House,cursus.et.eros@ametluctusvulputate.org,1,"[cursus.et.eros, ametluctusvulputate.org]",ametluctusvulputate.org