In [176]:
import pandas as pd

In [177]:
!ls

ExcelCalculate calculate      db.sqlite3     manage.py
Untitled.ipynb data.xlsx      main           sendEmail

In [178]:
df = pd.read_excel("data.xlsx")

In [145]:
df.head()

,grade,name,email,value,domain,addr
0,1,Belle Hunter,Donec@luctusfelispurus.net,84,"[Donec, luctusfelispurus.net]",luctusfelispurus.net
1,4,Hadley York,ipsum.non@tempusnonlacinia.net,97,"[ipsum.non, tempusnonlacinia.net]",tempusnonlacinia.net
2,5,Maryam Graves,ut.pellentesque.eget@duinec.org,3,"[ut.pellentesque.eget, duinec.org]",duinec.org
3,4,Armando Nguyen,Nunc.ullamcorper.velit@posuerecubilia.ca,25,"[Nunc.ullamcorper.velit, posuerecubilia.ca]",posuerecubilia.ca
4,5,Dean House,cursus.et.eros@ametluctusvulputate.org,1,"[cursus.et.eros, ametluctusvulputate.org]",ametluctusvulputate.org

In [146]:
df.groupby('grade').value.min()

grade
1    4
2    3
3    0
4    1
5    1
Name: value, dtype: int64

In [156]:
grade_dic = dict()
total_row_num = len(df.index)

for i in range(len(df.index)):

    data =df.loc[i]
    if not data['grade'] in grade_dic.keys():
        grade_dic[data['grade']] = list([data['value']])
    else:
        pass
        grade_dic[data['grade']].append(data['value'])
        
grade_calculate_dic = {}
for key in grade_dic.keys():
    grade_calculate_dic[key] = {}
    grade_calculate_dic[key]['min'] = min(grade_dic[key])
    grade_calculate_dic[key]['max'] = max(grade_dic[key])
    grade_calculate_dic[key]['avg'] = float(sum(grade_dic[key]))/len(grade_dic[key])
    
grade_list = list(grade_calculate_dic.keys())
grade_list.sort()
for key in grade_list:
    print(grade_calculate_dic[key])

{'min': 4, 'max': 100, 'avg': 55.38461538461539}
{'min': 3, 'max': 95, 'avg': 51.421052631578945}
{'min': 0, 'max': 91, 'avg': 39.458333333333336}
{'min': 1, 'max': 97, 'avg': 43.85}
{'min': 1, 'max': 99, 'avg': 48.375}

In [179]:
df.head()

   grade            name                                     email  value
0      1    Belle Hunter                Donec@luctusfelispurus.net     84
1      4     Hadley York            ipsum.non@tempusnonlacinia.net     97
2      5   Maryam Graves           ut.pellentesque.eget@duinec.org      3
3      4  Armando Nguyen  Nunc.ullamcorper.velit@posuerecubilia.ca     25
4      5      Dean House    cursus.et.eros@ametluctusvulputate.org      1

In [208]:
df['domain'] = df['email'].str.split('@')

ValueError: Length of values does not match length of index

In [197]:
df.head()

,grade,name,email,value,domain
0,1,Belle Hunter,Donec@luctusfelispurus.net,84,"[Donec, luctusfelispurus.net]"
1,4,Hadley York,ipsum.non@tempusnonlacinia.net,97,"[ipsum.non, tempusnonlacinia.net]"
2,5,Maryam Graves,ut.pellentesque.eget@duinec.org,3,"[ut.pellentesque.eget, duinec.org]"
3,4,Armando Nguyen,Nunc.ullamcorper.velit@posuerecubilia.ca,25,"[Nunc.ullamcorper.velit, posuerecubilia.ca]"
4,5,Dean House,cursus.et.eros@ametluctusvulputate.org,1,"[cursus.et.eros, ametluctusvulputate.org]"

In [ ]:
for i in range(len(df.index)):
    tlst = df.loc[i, ['domain']]
    print(type(tlst))

In [205]:
df.loc[1, ['domain']]

domain    [ipsum.non, tempusnonlacinia.net]
Name: 1, dtype: object

In [96]:
df['domain'] = df['email'].str.split('@').tolist()
df['addr'] = [i[1] for i in df['domain']]

df.groupby('addr').count().sort_values('grade')

In [107]:
df.head()

,grade,name,email,value,domain,addr
0,1,Belle Hunter,Donec@luctusfelispurus.net,84,"[Donec, luctusfelispurus.net]",luctusfelispurus.net
1,4,Hadley York,ipsum.non@tempusnonlacinia.net,97,"[ipsum.non, tempusnonlacinia.net]",tempusnonlacinia.net
2,5,Maryam Graves,ut.pellentesque.eget@duinec.org,3,"[ut.pellentesque.eget, duinec.org]",duinec.org
3,4,Armando Nguyen,Nunc.ullamcorper.velit@posuerecubilia.ca,25,"[Nunc.ullamcorper.velit, posuerecubilia.ca]",posuerecubilia.ca
4,5,Dean House,cursus.et.eros@ametluctusvulputate.org,1,"[cursus.et.eros, ametluctusvulputate.org]",ametluctusvulputate.org

In [102]:
grade_dic = {}

,grade,name,email,value,domain,addr
0,1,Belle Hunter,Donec@luctusfelispurus.net,84,"[Donec, luctusfelispurus.net]",luctusfelispurus.net
1,4,Hadley York,ipsum.non@tempusnonlacinia.net,97,"[ipsum.non, tempusnonlacinia.net]",tempusnonlacinia.net
2,5,Maryam Graves,ut.pellentesque.eget@duinec.org,3,"[ut.pellentesque.eget, duinec.org]",duinec.org
3,4,Armando Nguyen,Nunc.ullamcorper.velit@posuerecubilia.ca,25,"[Nunc.ullamcorper.velit, posuerecubilia.ca]",posuerecubilia.ca
4,5,Dean House,cursus.et.eros@ametluctusvulputate.org,1,"[cursus.et.eros, ametluctusvulputate.org]",ametluctusvulputate.org

In [214]:
email_domain_dic = {}
for i in range(total_row_num):
    data = df.loc[i]
    email_domain = (data['email'].split("@")[1])
    if not email_domain in email_domain_dic.keys():
        email_domain_dic[email_domain] = 1
    else:
        email_domain_dic[email_domain] += 1
for key in email_domain_dic.keys():
    print(key, email_domain_dic[key])

luctusfelispurus.net 1
tempusnonlacinia.net 1
duinec.org 1
posuerecubilia.ca 1
ametluctusvulputate.org 1
vitaenibhDonec.edu 1
parturient.co.uk 1
sodaleseliterat.org 1
ut.com 2
turpis.edu 1
massaMaurisvestibulum.ca 1
molestie.org 1
acturpisegestas.co.uk 1
acfermentum.edu 1
ultrices.net 1
quam.org 1
aultriciesadipiscing.edu 1
turpisvitaepurus.org 1
lectus.edu 2
Aliquamadipiscinglobortis.edu 1
elitAliquamauctor.edu 1
lectuspede.ca 1
lectusquis.ca 1
VivamusrhoncusDonec.edu 1
nisi.com 2
amet.edu 1
enim.net 1
urnaVivamus.com 1
auctor.org 1
Donecest.ca 1
facilisismagna.com 1
sodalespurusin.org 1
porttitor.edu 1
facilisisvitae.edu 1
aliquetmetusurna.com 1
arcuet.edu 1
Ut.ca 1
dolorsit.ca 1
feugiatplacerat.org 1
augue.co.uk 1
egestasDuisac.edu 1
euismodetcommodo.ca 1
nisinibhlacinia.co.uk 1
utaliquam.org 1
gravidanonsollicitudin.co.uk 1
mollis.net 1
volutpat.net 1
ligulaNullamenim.net 1
Etiambibendum.ca 1
enimSed.net 1
sedest.net 1
est.co.uk 1
interdumliberodui.com 1
vestibulummassarutrum.ca 1
tellusNunc.ca 1
ametconsectetueradipiscing.com 1
magna.org 1
nonlaciniaat.org 1
sedestNunc.edu 1
semmagna.com 1
auctorquistristique.org 1
Integervitae.ca 1
amet.co.uk 1
dolorsit.com 1
convallis.org 1
lacusvariuset.net 1
Crasconvallisconvallis.org 1
veliteget.edu 1
ipsum.edu 1
habitant.org 1
purusNullam.org 1
mattisCraseget.edu 1
dictumeleifend.net 1
dictummagnaUt.co.uk 1
Vivamus.com 1
orciluctuset.org 1
consequat.ca 1
feugiatSed.edu 1
mi.org 1
sitametornare.net 1
estacfacilisis.edu 1
nonnisi.net 1
in.com 1
pharetrased.edu 1
velvulputate.ca 1
metuseu.com 1
egestas.co.uk 1
et.ca 1
felisNulla.co.uk 1
at.com 1
massa.edu 1
Aliquam.net 1
fermentumconvallis.co.uk 1
AeneanmassaInteger.co.uk 1
Nam.com 1
facilisi.ca 1
Quisquefringillaeuismod.org 1

'Quisquefringillaeuismod.org'

In [253]:
from bs4 import BeautifulSoup
from urllib.request import urlopen

In [254]:
html = urlopen('http://pythonscraping.com/pages/warandpeace.html')
bs = BeautifulSoup(html, 'html.parser')

In [255]:
nameList = bs.findAll('span', {'class': 'green'})

In [262]:
for name in nameList:
    print(name.get_text())

Anna
Pavlovna Scherer
Empress Marya
Fedorovna
Prince Vasili Kuragin
Anna Pavlovna
St. Petersburg
the prince
Anna Pavlovna
Anna Pavlovna
the prince
the prince
the prince
Prince Vasili
Anna Pavlovna
Anna Pavlovna
the prince
Wintzingerode
King of Prussia
le Vicomte de Mortemart
Montmorencys
Rohans
Abbe Morio
the Emperor
the prince
Prince Vasili
Dowager Empress Marya Fedorovna
the baron
Anna Pavlovna
the Empress
the Empress
Anna Pavlovna's
Her Majesty
Baron
Funke
The prince
Anna
Pavlovna
the Empress
The prince
Anatole
the prince
The prince
Anna
Pavlovna
Anna Pavlovna

In [263]:
import re

In [ ]:
re.compile